<h1>Student Management</h1>
<br />


<form action="GetDetails" method="post">
    Name<input type="text" name="name" /><br />
    Class<input type="number" name="cls" /><br />
    RollNo<input type="number" name="roll" /><br />

    <input type="submit" />

</form>